<p id="notice"><%= notice %></p>

<p>
  <strong>Weekdays regular:</strong>
  짜<%= @flight_price.weekdays_regular %>
</p>

<p>
  <strong>Weekdays reward:</strong>
  짜<%= @flight_price.weekdays_reward %>
</p>

<p>
  <strong>Weekends regular:</strong>
  짜<%= @flight_price.weekends_regular %>
</p>

<p>
  <strong>Weekends reward:</strong>
  짜<%= @flight_price.weekends_reward %>
</p>

<p>
  <strong>Fight code:</strong>
  <%= @flight_price.flight_code %>
</p>

<%= link_to 'Edit', edit_flight_price_path(@flight_price) %> |
<%= link_to 'Back', flight_prices_path %>
